@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">

            <h1>
                Demo Application
               
            </h1>
        </div>
    </section>
}

<section class="category-list">

    <div class="category">
            <h3>Implicit client Grant flow</h3>
        <br>
        <a href='@ViewBag.Implicit' target="_blank">Implicit Client Flow</a>

        <br>
        <br>
        <br>
    </div>
    <!-- /category -->



    <div class="category">
            <h3>Authorization Code Grant Flow</h3>
        <br>
        <a href='@ViewBag.FOCodeFlow' target="_blank">MVC Role Based Sample Application</a>
        <br>
        <a href='@ViewBag.WebFormCodeFlow' target="_blank">WebForm Role Based Sample Application</a>
        <br>
        <a href='@ViewBag.WebFormDotNetOpenAuth' target="_blank">Open WebSecurity Sample Application</a>
    </div>
    <!-- /category -->



    <div class="category">
            <h3>Harness</h3>
        <br>
        <a href='@ViewBag.soapharness' target="_blank">OAuth Harness</a>
        <br>
        <a href='@ViewBag.wcfharness' target="_blank">Wcf Harness</a>
        <br>
        <br>
    </div>
    <!-- /category -->



    <div class="category">
            <h3>Vexiere OAuth2 Playground</h3>
        <br>
        <a href='@ViewBag.oauth2' target="_blank">OAuth2 Playground</a>

        <br>
        <br>
        <br>
    </div>
    <!-- /category -->
</section>
